<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="HammerInterval" value="2000" /> <!-- 锤子释放间隔（毫秒） -->
        <add key="UltInterval" value="500" /> <!-- 大招释放间隔（毫秒） -->
        <add key="AutoHammerEnabled" value="true" /> <!-- 自动释放锤子是否启用 -->
        <add key="AutoUltEnabled" value="true" /> <!-- 自动释放大招是否启用 -->
        <add key="AutoBaodaboEnabled" value="true" /> <!-- 自动升级包大伯是否启用 -->
    </appSettings>
</configuration>